.title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  margin: 40px 0 40px 0;
  color: #1b262c;
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  max-width: 358px;
  margin: 40px 0 40px 0;
  color: #4a5568;
}

.listContainer {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 358px;
  color: #4a5568;
  text-align: start;
  list-style-type: disc;
}

.link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  max-width: 358px;
  color: #3182ce;
  text-decoration: underline;
}

.linksList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 68px;
}
