.delegate-button {
  box-shadow: 0 0 0 0 rgba(102, 126, 234, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(102, 126, 234, 0.25),
      0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(102, 126, 234, 0),
      0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(102, 126, 234, 0), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}
