{
  "extends": ["react-app", "plugin:import/errors", "plugin:import/warnings", "plugin:import/typescript"],
  "plugins": ["import", "prettier"],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-named-as-default": 0,
    "import/no-duplicates": "error",
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "groups": [["external", "builtin"], "internal", ["parent", "sibling", "index"]],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ],
    "import/no-self-import": "error"
  }
}
