.title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  margin-top: 16px;
  color: #4a5568;
}
.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  max-width: 358px;
  margin: auto;
  color: #4a5568;
}
.exchangeRateBlock {
  display: flex;
  justify-content: space-between;
  color: #718096;
}
.exchangeTitle {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
.exchangeData {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
.privacyAndPolicy {
  margin-top: 24px;
  text-align: center;
  color: #4a5568;
}
.link {
  text-decoration: underline;
}
