name: Secrets setup

description: Writes secrets

inputs:
  GITHUB_ACTION_RUN_ENV:
    required: true
  NPM_TOKEN:
    required: false
  TEMPLE_WALLET_JITSU_TRACKING_HOST:
    required: true
  TEMPLE_WALLET_JITSU_WRITE_KEY:
    required: true
  TEMPLE_WALLET_EXOLIX_API_KEY:
    required: true
  TEMPLE_WALLET_EVERSTAKE_API_KEY:
    required: true
  TEMPLE_WALLET_EVERSTAKE_LINK_ID:
    required: true
  TEMPLE_WALLET_UTORG_SID:
    required: true
  TEMPLE_WALLET_API_URL:
    required: true
  TEMPLE_WALLET_DEXES_API_URL:
    required: true
  TEMPLE_ADS_API_URL:
    required: true
  TEMPLE_FIREBASE_CONFIG:
      required: true
  TEMPLE_FIREBASE_MESSAGING_VAPID_KEY:
      required: true
  TEMPLE_WALLET_ROUTE3_AUTH_TOKEN:
    required: true
  TEMPLE_WALLET_MOONPAY_API_KEY:
    required: true
  TEMPLE_WALLET_KOLIBRIO_PARAMS:
    required: true
  HYPELAB_API_URL:
    required: true
  HYPELAB_MISES_SMALL_PLACEMENT_SLUG:
    required: true
  HYPELAB_SMALL_PLACEMENT_SLUG:
    required: true
  HYPELAB_MISES_HIGH_PLACEMENT_SLUG:
    required: true
  HYPELAB_HIGH_PLACEMENT_SLUG:
    required: true
  HYPELAB_MISES_WIDE_PLACEMENT_SLUG:
    required: true
  HYPELAB_WIDE_PLACEMENT_SLUG:
    required: true
  HYPELAB_MISES_NATIVE_PLACEMENT_SLUG:
    required: true
  HYPELAB_NATIVE_PLACEMENT_SLUG:
    required: true
  HYPELAB_PROPERTY_SLUG:
    required: true
  HYPELAB_ADS_WINDOW_URL:
    required: true
  PERSONA_ADS_API_KEY:
    required: true
  PERSONA_ADS_MISES_BANNER_UNIT_ID:
    required: true
  PERSONA_ADS_BANNER_UNIT_ID:
    required: true
  PERSONA_ADS_MISES_WIDE_BANNER_UNIT_ID:
    required: true
  PERSONA_ADS_WIDE_BANNER_UNIT_ID:
    required: true
  PERSONA_ADS_MISES_MEDIUM_BANNER_UNIT_ID:
    required: true
  PERSONA_ADS_MEDIUM_BANNER_UNIT_ID:
    required: true
  PERSONA_ADS_MISES_SQUARISH_BANNER_UNIT_ID:
    required: true
  PERSONA_ADS_SQUARISH_BANNER_UNIT_ID:
    required: true
  SMARTY_300_250_PLACEMENT_ID:
    required: true
  SMARTY_320_50_PLACEMENT_ID:
    required: true
  SMARTY_728_90_PLACEMENT_ID:
    required: true
  SMARTY_970_90_PLACEMENT_ID:
    required: true
  SMARTY_336_280_PLACEMENT_ID:
    required: true
  SMARTY_160_600_PLACEMENT_ID:
    required: true
  SMARTY_970_250_PLACEMENT_ID:
    required: true
  SMARTY_320_100_PLACEMENT_ID:
    required: true
  SMARTY_300_600_PLACEMENT_ID:
    required: true
  BITMEDIA_320_50_PLACEMENT_ID:
    required: true
  BITMEDIA_320_100_PLACEMENT_ID:
    required: true
  BITMEDIA_300_250_PLACEMENT_ID:
    required: true
  BITMEDIA_728_90_PLACEMENT_ID:
    required: true
  BITMEDIA_300_100_PLACEMENT_ID:
    required: false
  BITMEDIA_250_250_PLACEMENT_ID:
    required: false
  BITMEDIA_336_280_PLACEMENT_ID:
    required: false
  BITMEDIA_160_600_PLACEMENT_ID:
    required: false
  BITMEDIA_300_600_PLACEMENT_ID:
    required: false
  BITMEDIA_970_90_PLACEMENT_ID:
    required: false
  CONVERSION_API_URL:
    required: true
  GOOGLE_AUTH_PAGE_URL:
    required: true
  # [e2e]
  DEFAULT_HD_ACCOUNT_SEED_PHRASE:
    required: false
  DEFAULT_HD_ACCOUNT_FIRST_PRIVATE_KEY:
    required: false
  DEFAULT_HD_ACCOUNT_FIRST_PUBLIC_KEY_HASH:
    required: false
  DEFAULT_HD_ACCOUNT_FIRST_HASH_SHORT_FORM:
    required: false
  DEFAULT_HD_ACCOUNT_SECOND_PRIVATE_KEY:
    required: false
  DEFAULT_HD_ACCOUNT_SECOND_PUBLIC_KEY_HASH:
    required: false
  DEFAULT_HD_ACCOUNT_SECOND_HASH_SHORT_FORM:
    required: false
  DEFAULT_PASSWORD:
    required: false
  IMPORTED_HD_ACCOUNT_SEED_PHRASE:
    required: false
  IMPORTED_HD_ACCOUNT_FIRST_PRIVATE_KEY:
    required: false
  IMPORTED_HD_ACCOUNT_FIRST_PUBLIC_KEY_HASH:
    required: false
  IMPORTED_HD_ACCOUNT_FIRST_HASH_SHORT_FORM:
    required: false
  WATCH_ONLY_PUBLIC_KEY_HASH:
    required: false
  WATCH_ONLY_PUBLIC_KEY_HASH_SHORT_FORM:
    required: false
  LONG_HD_ACCOUNT_SEED_PHRASE:
    required: false
  LONG_HD_ACCOUNT_FIRST_PRIVATE_KEY:
    required: false
  LONG_HD_ACCOUNT_FIRST_PUBLIC_KEY:
    required: false
  LONG_HD_ACCOUNT_FIRST_HASH_SHORT_FORM:
    required: false
  CUSTOM_NETWORK_RPC_URL:
    required: false
  CUSTOM_NETWORK_SECOND_RPC_URL:
    required: false
  NOTIFICATION_AUTHORIZATION:
    required: false

runs:
  using: 'composite'
  steps:
    - name: Authenticate with private NPM package
      shell: bash
      if: ${{ inputs.NPM_TOKEN }}
      run: echo "//registry.npmjs.org/:_authToken=${{ inputs.NPM_TOKEN }}" > .npmrc
    - name: Create .env file
      shell: bash
      run: |
        cat << EOF > .env
        GITHUB_ACTION_RUN_ENV=${{ inputs.GITHUB_ACTION_RUN_ENV }}
        TEMPLE_WALLET_JITSU_TRACKING_HOST=${{ inputs.TEMPLE_WALLET_JITSU_TRACKING_HOST }}
        TEMPLE_WALLET_JITSU_WRITE_KEY=${{ inputs.TEMPLE_WALLET_JITSU_WRITE_KEY }}

        TEMPLE_WALLET_EXOLIX_API_KEY=${{ inputs.TEMPLE_WALLET_EXOLIX_API_KEY }}
        TEMPLE_WALLET_EVERSTAKE_API_KEY=${{ inputs.TEMPLE_WALLET_EVERSTAKE_API_KEY }}
        TEMPLE_WALLET_EVERSTAKE_LINK_ID=${{ inputs.TEMPLE_WALLET_EVERSTAKE_LINK_ID }}
        TEMPLE_WALLET_UTORG_SID=${{ inputs.TEMPLE_WALLET_UTORG_SID }}

        TEMPLE_WALLET_API_URL=${{ inputs.TEMPLE_WALLET_API_URL }}
        TEMPLE_WALLET_DEXES_API_URL=${{ inputs.TEMPLE_WALLET_DEXES_API_URL }}
        TEMPLE_ADS_API_URL=${{ inputs.TEMPLE_ADS_API_URL }}
        TEMPLE_WALLET_ROUTE3_AUTH_TOKEN=${{ inputs.TEMPLE_WALLET_ROUTE3_AUTH_TOKEN }}
        TEMPLE_WALLET_MOONPAY_API_KEY=${{ inputs.TEMPLE_WALLET_MOONPAY_API_KEY }}
        TEMPLE_WALLET_KOLIBRIO_PARAMS=${{ inputs.TEMPLE_WALLET_KOLIBRIO_PARAMS }}
        TEMPLE_FIREBASE_CONFIG=${{ inputs.TEMPLE_FIREBASE_CONFIG }}
        TEMPLE_FIREBASE_MESSAGING_VAPID_KEY=${{ inputs.TEMPLE_FIREBASE_MESSAGING_VAPID_KEY }}

        HYPELAB_API_URL=${{ inputs.HYPELAB_API_URL }}
        HYPELAB_MISES_SMALL_PLACEMENT_SLUG=${{ inputs.HYPELAB_MISES_SMALL_PLACEMENT_SLUG }}
        HYPELAB_SMALL_PLACEMENT_SLUG=${{ inputs.HYPELAB_SMALL_PLACEMENT_SLUG }}
        HYPELAB_MISES_HIGH_PLACEMENT_SLUG=${{ inputs.HYPELAB_MISES_HIGH_PLACEMENT_SLUG }}
        HYPELAB_HIGH_PLACEMENT_SLUG=${{ inputs.HYPELAB_HIGH_PLACEMENT_SLUG }}
        HYPELAB_MISES_WIDE_PLACEMENT_SLUG=${{ inputs.HYPELAB_MISES_WIDE_PLACEMENT_SLUG }}
        HYPELAB_WIDE_PLACEMENT_SLUG=${{ inputs.HYPELAB_WIDE_PLACEMENT_SLUG }}
        HYPELAB_MISES_NATIVE_PLACEMENT_SLUG=${{ inputs.HYPELAB_MISES_NATIVE_PLACEMENT_SLUG }}
        HYPELAB_NATIVE_PLACEMENT_SLUG=${{ inputs.HYPELAB_NATIVE_PLACEMENT_SLUG }}
        HYPELAB_PROPERTY_SLUG=${{ inputs.HYPELAB_PROPERTY_SLUG }}
        HYPELAB_ADS_WINDOW_URL=${{ inputs.HYPELAB_ADS_WINDOW_URL }}

        PERSONA_ADS_API_KEY=${{ inputs.PERSONA_ADS_API_KEY }}
        PERSONA_ADS_MISES_BANNER_UNIT_ID=${{ inputs.PERSONA_ADS_MISES_BANNER_UNIT_ID }}
        PERSONA_ADS_BANNER_UNIT_ID=${{ inputs.PERSONA_ADS_BANNER_UNIT_ID }}
        PERSONA_ADS_MISES_WIDE_BANNER_UNIT_ID=${{ inputs.PERSONA_ADS_MISES_WIDE_BANNER_UNIT_ID }}
        PERSONA_ADS_WIDE_BANNER_UNIT_ID=${{ inputs.PERSONA_ADS_WIDE_BANNER_UNIT_ID }}
        PERSONA_ADS_MISES_MEDIUM_BANNER_UNIT_ID=${{ inputs.PERSONA_ADS_MISES_MEDIUM_BANNER_UNIT_ID }}
        PERSONA_ADS_MEDIUM_BANNER_UNIT_ID=${{ inputs.PERSONA_ADS_MEDIUM_BANNER_UNIT_ID }}
        PERSONA_ADS_MISES_SQUARISH_BANNER_UNIT_ID=${{ inputs.PERSONA_ADS_MISES_SQUARISH_BANNER_UNIT_ID }}
        PERSONA_ADS_SQUARISH_BANNER_UNIT_ID=${{ inputs.PERSONA_ADS_SQUARISH_BANNER_UNIT_ID }}
        SMARTY_300_250_PLACEMENT_ID=${{ inputs.SMARTY_300_250_PLACEMENT_ID }}
        SMARTY_320_50_PLACEMENT_ID=${{ inputs.SMARTY_320_50_PLACEMENT_ID }}
        SMARTY_728_90_PLACEMENT_ID=${{ inputs.SMARTY_728_90_PLACEMENT_ID }}
        SMARTY_970_90_PLACEMENT_ID=${{ inputs.SMARTY_970_90_PLACEMENT_ID }}
        SMARTY_336_280_PLACEMENT_ID=${{ inputs.SMARTY_336_280_PLACEMENT_ID }}
        SMARTY_160_600_PLACEMENT_ID=${{ inputs.SMARTY_160_600_PLACEMENT_ID }}
        SMARTY_970_250_PLACEMENT_ID=${{ inputs.SMARTY_970_250_PLACEMENT_ID }}
        SMARTY_320_100_PLACEMENT_ID=${{ inputs.SMARTY_320_100_PLACEMENT_ID }}
        SMARTY_300_600_PLACEMENT_ID=${{ inputs.SMARTY_300_600_PLACEMENT_ID }}
        BITMEDIA_320_50_PLACEMENT_ID=${{ inputs.BITMEDIA_320_50_PLACEMENT_ID }}
        BITMEDIA_320_100_PLACEMENT_ID=${{ inputs.BITMEDIA_320_100_PLACEMENT_ID }}
        BITMEDIA_300_250_PLACEMENT_ID=${{ inputs.BITMEDIA_300_250_PLACEMENT_ID }}
        BITMEDIA_728_90_PLACEMENT_ID=${{ inputs.BITMEDIA_728_90_PLACEMENT_ID }}
        BITMEDIA_300_100_PLACEMENT_ID=${{ inputs.BITMEDIA_300_100_PLACEMENT_ID }}
        BITMEDIA_250_250_PLACEMENT_ID=${{ inputs.BITMEDIA_250_250_PLACEMENT_ID }}
        BITMEDIA_336_280_PLACEMENT_ID=${{ inputs.BITMEDIA_336_280_PLACEMENT_ID }}
        BITMEDIA_160_600_PLACEMENT_ID=${{ inputs.BITMEDIA_160_600_PLACEMENT_ID }}
        BITMEDIA_300_600_PLACEMENT_ID=${{ inputs.BITMEDIA_300_600_PLACEMENT_ID }}
        BITMEDIA_970_90_PLACEMENT_ID=${{ inputs.BITMEDIA_970_90_PLACEMENT_ID }}
        TEMPLE_ADS_ORIGIN_PASSPHRASE=${{ inputs.TEMPLE_ADS_ORIGIN_PASSPHRASE }}
        TAKE_ADS_TOKEN=${{ inputs.TAKE_ADS_TOKEN }}
        CONVERSION_API_URL=${{ inputs.CONVERSION_API_URL }}

        GOOGLE_AUTH_PAGE_URL=${{ inputs.GOOGLE_AUTH_PAGE_URL }}

        TEMPLE_WALLET_DEVELOPMENT_BRANCH_NAME=${{ github.ref_name }}
        EOF

    - name: Create e2e/.env file
      shell: bash
      run: |
        cat << EOF > e2e/.env
        TEMPLE_WALLET_API_URL=${{ inputs.TEMPLE_WALLET_API_URL }}

        DEFAULT_HD_ACCOUNT_SEED_PHRASE=${{ inputs.DEFAULT_HD_ACCOUNT_SEED_PHRASE }}
        DEFAULT_HD_ACCOUNT_FIRST_PRIVATE_KEY=${{ inputs.DEFAULT_HD_ACCOUNT_FIRST_PRIVATE_KEY }}
        DEFAULT_HD_ACCOUNT_FIRST_PUBLIC_KEY_HASH=${{ inputs.DEFAULT_HD_ACCOUNT_FIRST_PUBLIC_KEY_HASH }}
        DEFAULT_HD_ACCOUNT_FIRST_HASH_SHORT_FORM=${{ inputs.DEFAULT_HD_ACCOUNT_FIRST_HASH_SHORT_FORM }}
        DEFAULT_HD_ACCOUNT_SECOND_PRIVATE_KEY=${{ inputs.DEFAULT_HD_ACCOUNT_SECOND_PRIVATE_KEY }}
        DEFAULT_HD_ACCOUNT_SECOND_PUBLIC_KEY_HASH=${{ inputs.DEFAULT_HD_ACCOUNT_SECOND_PUBLIC_KEY_HASH }}
        DEFAULT_HD_ACCOUNT_SECOND_HASH_SHORT_FORM=${{ inputs.DEFAULT_HD_ACCOUNT_SECOND_HASH_SHORT_FORM }}
        DEFAULT_PASSWORD=${{ inputs.DEFAULT_PASSWORD }}
        IMPORTED_HD_ACCOUNT_SEED_PHRASE=${{ inputs.IMPORTED_HD_ACCOUNT_SEED_PHRASE }}
        IMPORTED_HD_ACCOUNT_FIRST_PRIVATE_KEY=${{ inputs.IMPORTED_HD_ACCOUNT_FIRST_PRIVATE_KEY }}
        IMPORTED_HD_ACCOUNT_FIRST_PUBLIC_KEY_HASH=${{ inputs.IMPORTED_HD_ACCOUNT_FIRST_PUBLIC_KEY_HASH }}
        IMPORTED_HD_ACCOUNT_FIRST_HASH_SHORT_FORM=${{ inputs.IMPORTED_HD_ACCOUNT_FIRST_HASH_SHORT_FORM }}
        WATCH_ONLY_PUBLIC_KEY_HASH=${{ inputs.WATCH_ONLY_PUBLIC_KEY_HASH }}
        WATCH_ONLY_PUBLIC_KEY_HASH_SHORT_FORM=${{ inputs.WATCH_ONLY_PUBLIC_KEY_HASH_SHORT_FORM }}
        LONG_HD_ACCOUNT_SEED_PHRASE=${{ inputs.LONG_HD_ACCOUNT_SEED_PHRASE }}
        LONG_HD_ACCOUNT_FIRST_PRIVATE_KEY=${{ inputs.LONG_HD_ACCOUNT_FIRST_PRIVATE_KEY }}
        LONG_HD_ACCOUNT_FIRST_PUBLIC_KEY=${{ inputs.LONG_HD_ACCOUNT_FIRST_PUBLIC_KEY }}
        LONG_HD_ACCOUNT_FIRST_HASH_SHORT_FORM=${{ inputs.LONG_HD_ACCOUNT_FIRST_HASH_SHORT_FORM }}
        CUSTOM_NETWORK_RPC_URL=${{ inputs.CUSTOM_NETWORK_RPC_URL }}
        CUSTOM_NETWORK_SECOND_RPC_URL=${{ inputs.CUSTOM_NETWORK_SECOND_RPC_URL }}
        NOTIFICATION_AUTHORIZATION=${{ inputs.NOTIFICATION_AUTHORIZATION }}
        EOF
