name: Secrets setup

description: Writes secrets

inputs:
  GITHUB_ACTION_RUN_ENV:
    required: true
  TEMPLE_WALLET_JITSU_TRACKING_HOST:
    required: true
  TEMPLE_WALLET_JITSU_WRITE_KEY:
    required: true
  TEMPLE_WALLET_EXOLIX_API_KEY:
    required: false
  TEMPLE_WALLET_EVERSTAKE_API_KEY:
    required: false
  TEMPLE_WALLET_EVERSTAKE_LINK_ID:
    required: false
  TEMPLE_WALLET_UTORG_SID:
    required: false
  TEMPLE_WALLET_API_URL:
    required: true
  TEMPLE_WALLET_DEXES_API_URL:
    required: true
  TEMPLE_FIREBASE_CONFIG:
      required: true
  TEMPLE_FIREBASE_MESSAGING_VAPID_KEY:
      required: true
# [e2e]
  DEFAULT_HD_ACCOUNT_SEED_PHRASE:
    required: false
  DEFAULT_HD_ACCOUNT_FIRST_PRIVATE_KEY:
    required: false
  DEFAULT_HD_ACCOUNT_FIRST_HASH_SHORT_FORM:
    required: false
  DEFAULT_HD_ACCOUNT_SECOND_PRIVATE_KEY:
    required: false
  DEFAULT_PASSWORD:
    required: false
  IMPORTED_HD_ACCOUNT_SEED_PHRASE:
    required: false
  IMPORTED_HD_ACCOUNT_FIRST_PRIVATE_KEY:
    required: false
  IMPORTED_HD_ACCOUNT_FIRST_HASH_SHORT_FORM:
    required: false
  TEMPLE_WALLET_ROUTE3_AUTH_TOKEN:
    required: true
  TEMPLE_WALLET_MOONPAY_API_KEY:
    required: true
  WATCH_ONLY_PUBLIC_KEY_HASH:
    required: false
  WATCH_ONLY_PUBLIC_KEY_HASH_SHORT_FORM:
    required: false
  CUSTOM_NETWORK_RPC_URL:
    required: false

runs:
  using: 'composite'
  steps:
    - name: Create .env file
      shell: bash
      run: |
        cat << EOF > .env
        GITHUB_ACTION_RUN_ENV=${{ inputs.GITHUB_ACTION_RUN_ENV }}
        TEMPLE_WALLET_JITSU_TRACKING_HOST=${{ inputs.TEMPLE_WALLET_JITSU_TRACKING_HOST }}
        TEMPLE_WALLET_JITSU_WRITE_KEY=${{ inputs.TEMPLE_WALLET_JITSU_WRITE_KEY }}

        TEMPLE_WALLET_EXOLIX_API_KEY=${{ inputs.TEMPLE_WALLET_EXOLIX_API_KEY }}
        TEMPLE_WALLET_EVERSTAKE_API_KEY=${{ inputs.TEMPLE_WALLET_EVERSTAKE_API_KEY }}
        TEMPLE_WALLET_EVERSTAKE_LINK_ID=${{ inputs.TEMPLE_WALLET_EVERSTAKE_LINK_ID }}
        TEMPLE_WALLET_UTORG_SID=${{ inputs.TEMPLE_WALLET_UTORG_SID }}

        TEMPLE_WALLET_API_URL=${{ inputs.TEMPLE_WALLET_API_URL }}
        TEMPLE_WALLET_DEXES_API_URL=${{ inputs.TEMPLE_WALLET_DEXES_API_URL }}
        TEMPLE_WALLET_ROUTE3_AUTH_TOKEN=${{ inputs.TEMPLE_WALLET_ROUTE3_AUTH_TOKEN }}
        TEMPLE_WALLET_MOONPAY_API_KEY=${{ inputs.TEMPLE_WALLET_MOONPAY_API_KEY }}
        TEMPLE_FIREBASE_CONFIG=${{ inputs.TEMPLE_FIREBASE_CONFIG }}
        TEMPLE_FIREBASE_MESSAGING_VAPID_KEY=${{ inputs.TEMPLE_FIREBASE_MESSAGING_VAPID_KEY }}

        TEMPLE_WALLET_DEVELOPMENT_BRANCH_NAME=${{ github.ref_name }}
        EOF

    - name: Create e2e/.env file
      shell: bash
      run: |
        cat << EOF > e2e/.env
        DEFAULT_HD_ACCOUNT_SEED_PHRASE=${{ inputs.DEFAULT_HD_ACCOUNT_SEED_PHRASE }}
        DEFAULT_HD_ACCOUNT_FIRST_PRIVATE_KEY=${{ inputs.DEFAULT_HD_ACCOUNT_FIRST_PRIVATE_KEY }}
        DEFAULT_HD_ACCOUNT_FIRST_HASH_SHORT_FORM=${{ inputs.DEFAULT_HD_ACCOUNT_FIRST_HASH_SHORT_FORM }}
        DEFAULT_HD_ACCOUNT_SECOND_PRIVATE_KEY=${{ inputs.DEFAULT_HD_ACCOUNT_SECOND_PRIVATE_KEY }}
        DEFAULT_PASSWORD=${{ inputs.DEFAULT_PASSWORD }}
        IMPORTED_HD_ACCOUNT_SEED_PHRASE=${{ inputs.IMPORTED_HD_ACCOUNT_SEED_PHRASE }}
        IMPORTED_HD_ACCOUNT_FIRST_PRIVATE_KEY=${{ inputs.IMPORTED_HD_ACCOUNT_FIRST_PRIVATE_KEY }}
        IMPORTED_HD_ACCOUNT_FIRST_HASH_SHORT_FORM=${{ inputs.IMPORTED_HD_ACCOUNT_FIRST_HASH_SHORT_FORM }}
        WATCH_ONLY_PUBLIC_KEY_HASH=${{ inputs.WATCH_ONLY_PUBLIC_KEY_HASH }}
        WATCH_ONLY_PUBLIC_KEY_HASH_SHORT_FORM=${{ inputs.WATCH_ONLY_PUBLIC_KEY_HASH_SHORT_FORM }}
        CUSTOM_NETWORK_RPC_URL=${{ inputs.CUSTOM_NETWORK_RPC_URL }}
        EOF
