<!DOCTYPE html>
<html
  lang=""
  class="no-scrollbar<% if (process.env.TARGET_BROWSER === "firefox") { %> overflow-x-hidden<% } %>"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>Temple - Tezos Wallet</title>
    <script>
      const searchParams = new URLSearchParams(window.location.hash.replace("#", ""));
      const width = searchParams.get("w") || "320";
      const height = searchParams.get("h") || "50";
      const documentStyle = `width: ${width}px; height: ${height}px;`;
      document.body.setAttribute("style", documentStyle);
      document.querySelector("html").setAttribute("style", documentStyle);
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
