<!DOCTYPE html>
<html
  class="no-scrollbar<% if (process.env.TARGET_BROWSER === "firefox") { %> overflow-x-hidden<% } %>"
  style="width: 360px; height: 604px;"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>Temple - Tezos Wallet (ex. Thanos)</title>
  </head>
  <body class="bg-white" style="width: 360px; min-height: calc(100vh + 1px);">
    <div id="root"></div>
  </body>
</html>
