.contentFader {
  position: absolute;
  inset: 0;

  pointer-events: none;

  background-color: black;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.fadeContent .contentFader {
  opacity: 0.15;
}
