.exchanger-option label::before {
  content: "";
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  position: absolute;
  left: 1.375rem;
  border: 2px solid #4299e1;
}

.exchanger-option label::after {
  content: "";
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 100%;
  position: absolute;
  left: 1.625rem;
  background: transparent;
}

.exchanger-option input[type="radio"]:checked+label::before {
  left: 1.3125rem;
}

.exchanger-option input[type="radio"]:checked+label::after {
  background: #4299E1;
  left: 1.5625rem;
}

.exchanger-option label:hover::before,
.exchanger-option label:hover::after {
  filter: brightness(120%)
}

.exchanger-option input[type="radio"]:disabled+label::before,
.exchanger-option input[type="radio"]:disabled+label::after {
  filter: grayscale(100%)
}

.swap-form-table {
  border-spacing: 0.5rem;
}
