.tagBase {
  border-radius: 4px;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 12px;
  color: #ffffff;
}

.kusdTag {
  background: #3EBD93;
}

.kusdTag:hover {
  background-color: #65CAA9;
}

.tzbtcTag {
  background: #1373E4;
}

.tzbtcTag:hover {
  background-color: #428FE9;
}

.usdtTag {
  background: #009393;
}

.usdtTag:hover {
  background-color: #52AF95;
}

.youvesTag {
  background: #143A3A;
}

.youvesTag:hover {
  background-color: #4F6B6B;
}

.scamTag {
  background: #C53030;
}

.scamTag:hover {
  background-color: #D15A59;
}

.tokenInfoWidth {
  max-width: 19rem;
}

.tokenSymbol {
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 16px;
  color: #1b262c;
}
