@keyframes pickaxeAnimation {
  0% { transform: rotate(0deg); }
  8% { transform: rotate(-20deg); }
  16% {transform: rotate(-5deg); }
  24% { transform: rotate(-20deg); }
  32% { transform: rotate(-5deg); }
  40% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.pickaxe {
  position: absolute;
  bottom: -8px;
  right: -20px;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-image: url('./assets/pickaxe.png');
  animation: pickaxeAnimation 4s ease-out infinite;
}

@keyframes goldShineAnimation {
  0% { background-image: url('./assets/gold-shine-frame-1.png'); }
  25% { background-image: url('./assets/gold-shine-frame-2.png'); }
  50% { background-image: url('./assets/gold-shine-frame-1.png'); }
  100% { background-image: url('./assets/gold-shine-frame-1.png'); }
}

.goldShine {
  position: absolute;
  bottom: -30px;
  right: -26px;
  width: 85px;
  height: 64px;
  background-size: contain;
  animation: goldShineAnimation 3s linear infinite;
}
