.bounce {
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce.bounce1 {
  animation-delay: -0.32s;
}

.bounce.bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
