name: End-to-end tests

description: Prepares and runs e2e tests

runs:
  using: 'composite'
  steps:
    - working-directory: ./e2e
      shell: bash
      run: yarn install
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Run tests
      working-directory: ./e2e
      shell: bash
      env:
        PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
        CI: 'true'
      run: |
        export DISPLAY=:99
        chromedriver --url-base=/wd/hub &
        sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 & # optional
        yarn test
