@import 'inter-ui/inter.css';
@import '@fontsource/rubik/300.css';
@import '@fontsource/rubik/400.css';
@import '@fontsource/rubik/500.css';
@import '@fontsource/rubik/600.css';

@layer utilities {
  /* Base */
  .text-font-small { @apply text-xxxs; }
  .text-font-description { @apply text-xs; }
  .text-font-medium { @apply text-sm; }
  .text-font-regular { @apply text-base; }

  /* Base Bold */
  .text-font-small-bold { @apply text-xxxs font-semibold; }
  .text-font-description-bold { @apply text-xs font-semibold; }
  .text-font-medium-bold { @apply text-sm font-semibold; }
  .text-font-regular-bold { @apply text-base font-semibold; }

  /* Headlines */
  .text-font-h1 { @apply font-semibold text-2xl-plus; }
  .text-font-h2 { @apply font-semibold text-2xl; }
  .text-font-h3 { @apply font-semibold text-xl leading-8; }

  /* Numbers */
  .text-font-num-10 { @apply font-rubik text-xxxs; }
  .text-font-num-12 { @apply font-rubik text-xs; }
  .text-font-num-14 { @apply font-rubik text-sm; }
  .text-font-num-16 { @apply font-rubik text-base; }
  .text-font-num-24 { @apply font-rubik text-2xl leading-9; }
  .text-font-num-32 { @apply font-rubik text-2xl-plus; }

  /* Numbers Bold */
  .text-font-num-bold-10 { @apply font-rubik text-xxxs font-medium; }
  .text-font-num-bold-12 { @apply font-rubik text-xs font-medium; }
  .text-font-num-bold-14 { @apply font-rubik text-sm font-medium; }
  .text-font-num-bold-16 { @apply font-rubik text-base font-medium; }
  .text-font-num-bold-24 { @apply font-rubik text-2xl leading-9 font-medium; }
  .text-font-num-bold-32 { @apply font-rubik text-2xl-plus font-medium; }
}
