@import "tailwindcss";

@import 'tippy.js/dist/tippy.css' layer(components);
@import 'tippy.js/animations/shift-away-subtle.css' layer(components);

@import './fonts.css';

@config "../tailwind.config.js";

@layer base {
  :root {
    color: #151618;
    --tippy-arrow-offset: 1px;
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
  }

  * {
    font-variant-ligatures: none;
  }

  /* Appearance for iOS and Safari */
  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    appearance: none;
  }

  /* Hide Arrows From Input Number */
  /* Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Cursor pointer for button by default */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  /* Preserve Tailwind v3 behavior for border color */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: transparent;
  }
}

@layer components {
  /**
   * Popper JS
   */

  [data-popper-reference-hidden] {
    visibility: hidden;
    pointer-events: none;
  }

  /**
   * Tippy JS
   */

  .tippy-box {
    background-color: black;
    border-radius: 4px;
    font-size: 10px;
    line-height: 12px;
  }

  .tippy-box[data-placement^='top'] > .tippy-arrow {
    bottom: var(--tippy-arrow-offset);
  }

  .tippy-box[data-placement^='top'] > .tippy-arrow:before {
    bottom: calc(-16px + var(--tippy-arrow-offset));
    left: 0;
    border-width: 0;
    transform-origin: center;
    transform: rotate(180deg);
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow {
    top: var(--tippy-arrow-offset);
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: calc(-16px + var(--tippy-arrow-offset));
    left: 0;
    border-width: 0;
  }

  .tippy-box[data-placement^='left'] > .tippy-arrow {
    right: var(--tippy-arrow-offset);
  }

  .tippy-box[data-placement^='left'] > .tippy-arrow:before {
    border-width: 0;
    right: calc(-16px + var(--tippy-arrow-offset));
    transform-origin: center;
    transform: rotate(90deg);
  }

  .tippy-box[data-placement^='right'] > .tippy-arrow {
    left: var(--tippy-arrow-offset);
  }

  .tippy-box[data-placement^='right'] > .tippy-arrow:before {
    left: calc(-16px + var(--tippy-arrow-offset));
    border-width: 0;
    transform-origin: center;
    transform: rotate(-90deg);
  }

  .tippy-box[data-inertia][data-state='visible'] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
  }

  .tippy-arrow:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('app/misc/tooltip-arrow.svg');
  }

  .tippy-content {
    padding: 12px;
    white-space: pre-line;
  }
}

@keyframes fade-in {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@layer utilities {
  /* Text shadow utils */
  .text-shadow-black {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }

  .text-shadow-black-orange {
    text-shadow: 0 1px 0 rgba(39, 19, 3, 0.06);
  }

  /* Scroll bar utils */
  .no-scrollbar {
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Misc */
  .filter-brightness-75 {
    filter: brightness(0.75);
  }

  .font-tnum {
    font-feature-settings: 'tnum';
  }

  .grayscale-firefox-fix {
    filter: grayscale(1%);
  }

  .letter-truncated-fix {
    line-height: normal;
    padding-bottom: 0;
    padding-top: 0;
  }

  .animate-fade-in {
    animation: fade-in 2s ease-in-out infinite;
  }

  .variable-lines-border {
    outline: 0.5px solid #E4E4E4;
    outline-offset: -0.5px;
    &:hover {
      outline: 1px solid #E4E4E4;
      outline-offset: -1px;
    }
  }
}
