/**
 * Inter UI font
 */

@import "~inter-ui/inter.css";

* {
  font-variant-ligatures: none;
}

/**
 * Popper JS
 */

[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
}

/**
 * Tippy JS
 */

@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/animations/shift-away-subtle.css";

/**
 * TailwindCSS
 */

@tailwind base;

@tailwind components;

@tailwind utilities;

/**
 * Text shadow utils.
 */

.text-shadow-black {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.text-shadow-black-orange {
  text-shadow: 0 1px 0 rgba(39, 19, 3, 0.06);
}

/**
 * Scroll bar utils
 */

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/**
 * Misc
 */

/* Fix CSS transition flickering in Firefox */
.grayscale-firefox-fix {
  filter: grayscale(1%);
}
