@import "~inter-ui/inter.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

/**
 * Text shadow utils.
 */

.text-shadow {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

/**
 * Legacy stuff.
 */

.spin {
  animation: spin 1s;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
